{
  "openapi": "3.1.0",
  "info": {
    "title": "Armis API v3",
    "version": "0.4.0"
  },
  "servers": [
    {
      "url": "https://api.armis.com/v3"
    }
  ],
  "paths": {
    "/assets/properties/_search": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Search asset properties",
        "description": "### Required scopes:\n* `PERMISSION.DEVICE.READ`\n* `PERMISSION.PII.DEVICE`\n* `FULL_VISIBILITY`",
        "operationId": "_search_assets_properties__search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAssetPropertiesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchAssetPropertiesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/assets/_bulk": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Update assets in bulk",
        "description": "### Required scopes:\n* `PERMISSION.DEVICE.MANAGE.EDIT`",
        "operationId": "post_assets__bulk_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "207": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/assets/_search": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Search assets that match a certain criteria",
        "description": "### Required scopes:\n* `PERMISSION.DEVICE.READ`\n* `PERMISSION.PII.DEVICE`\n* `FULL_VISIBILITY`",
        "operationId": "search_assets__search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAssetsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchAssetsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/assets/_search/fields": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List allowed fields",
        "description": "List the values that are valid in the [`POST /assets/_search`](/reference/search_assets__search_post) endpoint's `field` parameter.\n\nIncludes:\n* Common Armis fields.\n* Custom fields (also reflected in the [`GET /settings/device-custom-properties`](/reference/get_settings_device_custom_properties_get#/) endpoint).\n* Integration fields.",
        "operationId": "fields_assets__search_fields_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "asset_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AssetType",
              "default": "DEVICE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchFieldsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/collectors/_image": {
      "get": {
        "tags": [
          "Collectors"
        ],
        "summary": "Get the details required to download and run a collector's image",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.COLLECTOR.READ`",
        "operationId": "get_collectors__image_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "image_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ImageType",
              "default": "OVA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectorImageDetails"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/data-export/{entity}": {
      "get": {
        "tags": [
          "Data Export"
        ],
        "summary": "Get the URLs of the latest data exports of a particular entity.",
        "description": "### Required scopes:\n* `PERMISSION.REPORT.READ`\n* `FULL_VISIBILITY`",
        "operationId": "get_data_export__entity__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DataExportEntity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExportGetResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Data Export"
        ],
        "summary": "Enable / disable export of entity.",
        "description": "### Required scopes:\n* `PERMISSION.REPORT.MANAGE.CREATE`\n* `PERMISSION.REPORT.MANAGE.DELETE`",
        "operationId": "toggle_data_export__entity__patch",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DataExportEntity"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataExportPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExportPatchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/data-export/{entity}/_enable": {
      "post": {
        "tags": [
          "Data Export"
        ],
        "summary": "Enable export of entity.",
        "description": "### Required scopes:\n* `PERMISSION.REPORT.MANAGE.CREATE`",
        "operationId": "enable_data_export__entity___enable_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DataExportEntity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExportPatchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create an access token for consuming the API.",
        "description": "Use this endpoint to create an access token.\n\nYou then authorize calls to the other endpoints by adding the header: \"Authorization: Bearer <access_token>\".",
        "operationId": "post_oauth_token_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/settings/device-custom-properties/{config_id}": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Get a device custom property configuration.",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.CUSTOM_PROPERTIES.READ`",
        "operationId": "get_settings_device_custom_properties__config_id__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "config_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Config Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersistentConfig"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Settings"
        ],
        "summary": "Delete a device custom property configuration.",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.CUSTOM_PROPERTIES.MANAGE`",
        "operationId": "delete_settings_device_custom_properties__config_id__delete",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "config_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Config Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Settings"
        ],
        "summary": "Update a device custom property configuration.",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.CUSTOM_PROPERTIES.MANAGE`",
        "operationId": "patch_settings_device_custom_properties__config_id__patch",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "config_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Config Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialConfigRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/settings/device-custom-properties": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "List all device custom property configurations.",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.CUSTOM_PROPERTIES.READ`",
        "operationId": "get_settings_device_custom_properties_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersistentConfigItems"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "Settings"
        ],
        "summary": "Create a new device custom property configuration.",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.CUSTOM_PROPERTIES.MANAGE`",
        "operationId": "post_settings_device_custom_properties_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Config"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersistentConfig"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/settings/sites/{site_id}": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "Get a site.",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.SITES_AND_SENSORS.READ`",
        "operationId": "get_settings_sites__site_id__get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Site Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersistentSite"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Settings"
        ],
        "summary": "Update a site.",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.SITES_AND_SENSORS.MANAGE.SITES`",
        "operationId": "patch_settings_sites__site_id__patch",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Site Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersistentSite"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Settings"
        ],
        "summary": "Delete a site.",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.SITES_AND_SENSORS.MANAGE.SITES`",
        "operationId": "delete_settings_sites__site_id__delete",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Site Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/settings/sites": {
      "get": {
        "tags": [
          "Settings"
        ],
        "summary": "List sites.",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.SITES_AND_SENSORS.READ`",
        "operationId": "get_settings_sites_get",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "After"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersistentSiteItems"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Settings"
        ],
        "summary": "Create a new site.",
        "description": "### Required scopes:\n* `PERMISSION.SETTINGS.SITES_AND_SENSORS.MANAGE.SITES`",
        "operationId": "post_settings_sites_post",
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersistentSite"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AndRule": {
        "properties": {
          "or": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object",
                  "description": "Another AsqRule"
                }
              ]
            },
            "type": "array",
            "title": "Or"
          }
        },
        "type": "object",
        "required": [
          "and"
        ],
        "title": "AndRule"
      },
      "AsqRule": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/AndRule"
          },
          {
            "$ref": "#/components/schemas/OrRule"
          }
        ],
        "title": "AsqRule",
        "examples": [
          {
            "and": [
              "category:Computers",
              "model:Mac"
            ]
          },
          {
            "or": [
              "category:Computers",
              "model:iPhone"
            ]
          },
          {
            "and": [
              "category:Computers",
              {
                "or": [
                  "category:Computers",
                  "model:iPhone"
                ]
              }
            ]
          }
        ]
      },
      "AssetField": {
        "type": "string",
        "enum": [
          "access_switch",
          "article_number",
          "boundaries",
          "brand",
          "category",
          "device_id",
          "display",
          "eol_os",
          "eos_firmware",
          "eos_hardware",
          "eos_os",
          "firmware_version",
          "first_seen",
          "ipv4_addresses",
          "ipv6_addresses",
          "last_connected_ap_name",
          "last_seen",
          "mac_addresses",
          "model",
          "names",
          "network_interfaces",
          "os_build_number",
          "os_build_revision",
          "os_name",
          "os_version",
          "purdue_level",
          "risk_level",
          "serial_numbers",
          "site",
          "tags",
          "type",
          "visibility"
        ],
        "title": "AssetField"
      },
      "AssetIdSource": {
        "type": "string",
        "enum": [
          "ASSET_ID",
          "IPV4_ADDRESS",
          "IPV6_ADDRESS",
          "MAC_ADDRESS",
          "SERIAL_NUMBER"
        ],
        "title": "AssetIdSource"
      },
      "AssetPropertyItem": {
        "properties": {
          "asset_id": {
            "type": "integer",
            "title": "Asset Id"
          },
          "key": {
            "type": "string",
            "title": "Key"
          },
          "value": {
            "type": "string",
            "title": "Value"
          },
          "data_source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Data Source"
          },
          "sub_source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Sub Source"
          }
        },
        "type": "object",
        "required": [
          "asset_id",
          "key",
          "value",
          "data_source",
          "sub_source"
        ],
        "title": "AssetPropertyItem"
      },
      "AssetResponse": {
        "properties": {
          "asset_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "title": "Asset Id"
          },
          "fields": {
            "type": "object",
            "title": "Fields"
          }
        },
        "type": "object",
        "required": [
          "asset_id",
          "fields"
        ],
        "title": "AssetResponse"
      },
      "AssetType": {
        "type": "string",
        "enum": [
          "DEVICE"
        ],
        "title": "AssetType"
      },
      "AuthRequest": {
        "properties": {
          "audience": {
            "type": "string",
            "title": "Audience",
            "description": "Value has to be the full tenant's domain with scheme and trailing slash",
            "examples": [
              "https://acme.armis.com/"
            ]
          },
          "grant_type": {
            "type": "string",
            "const": "client_credentials",
            "title": "Grant Type"
          },
          "client_id": {
            "type": "string",
            "title": "Client Id",
            "description": "Use email of the user that created the 'client_secret'"
          },
          "client_secret": {
            "type": "string",
            "title": "Client Secret",
            "description": "To obtain the secret, go to https://<tenant>.armis.com/settings/api-management"
          },
          "vendor_id": {
            "type": "string",
            "title": "Vendor Id",
            "description": "The Vendor ID you received upon singing up to the developer portal"
          },
          "scopes": {
            "items": {
              "type": "string",
              "enum": [
                "FULL_VISIBILITY",
                "PERMISSION.DEVICE.MANAGE.EDIT",
                "PERMISSION.DEVICE.READ",
                "PERMISSION.PII.DEVICE",
                "PERMISSION.REPORT.MANAGE.CREATE",
                "PERMISSION.REPORT.MANAGE.DELETE",
                "PERMISSION.REPORT.READ",
                "PERMISSION.SETTINGS.COLLECTOR.READ",
                "PERMISSION.SETTINGS.CUSTOM_PROPERTIES.MANAGE",
                "PERMISSION.SETTINGS.CUSTOM_PROPERTIES.READ",
                "PERMISSION.SETTINGS.SITES_AND_SENSORS.MANAGE.SITES",
                "PERMISSION.SETTINGS.SITES_AND_SENSORS.READ"
              ]
            },
            "type": "array",
            "title": "Scopes",
            "description": "A list of scopes to grant access to",
            "examples": [
              [
                "PERMISSION.DEVICE.READ",
                "PERMISSION.REPORT.READ"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "audience",
          "grant_type",
          "client_id",
          "client_secret",
          "vendor_id"
        ],
        "title": "AuthRequest",
        "examples": [
          {
            "audience": "https://acme.armis.com/",
            "client_id": "foo@acme.com",
            "client_secret": "4b8d7e47f49e6bbfffc3d681a08062f42bd46d08b851c23081891338b83ed8cb",
            "grant_type": "client_credentials",
            "scopes": [
              "PERMISSION.DEVICE.READ",
              "PERMISSION.REPORT.READ"
            ],
            "vendor_id": "my-vendor-id"
          }
        ]
      },
      "AuthResponse": {
        "properties": {
          "access_token": {
            "type": "string",
            "title": "Access Token"
          },
          "token_type": {
            "type": "string",
            "const": "Bearer",
            "title": "Token Type"
          },
          "expires_in": {
            "type": "integer",
            "title": "Expires In",
            "description": "Expiration time in seconds"
          }
        },
        "type": "object",
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ],
        "title": "AuthResponse",
        "examples": [
          {
            "access_token": "8fad727f618d916e7750ba18721dea21d9d5a0fe3c3f3711ac86c2207bb13c9a",
            "expires_in": 900,
            "token_type": "Bearer"
          }
        ]
      },
      "BulkItemResponse": {
        "properties": {
          "status": {
            "type": "integer",
            "title": "Status"
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error"
          }
        },
        "type": "object",
        "required": [
          "status"
        ],
        "title": "BulkItemResponse",
        "examples": [
          {
            "status": 200
          },
          {
            "error": "Bad Request",
            "status": 400
          }
        ]
      },
      "BulkItemSetRequest": {
        "properties": {
          "asset_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "title": "Asset Id",
            "description": "The identifier that will be used to find the asset that needs to be updated.\n\nThe content type will vary according to the selected `asset_id_source` field (e.g. IP v4, Asset ID, etc.).\n\nGenerally speaking, all identifiers except Asset ID are provided by the customer's environment.",
            "examples": [
              "8.8.8.8",
              1234
            ]
          },
          "operation": {
            "type": "string",
            "const": "SET",
            "title": "Operation"
          },
          "key": {
            "type": "string",
            "title": "Key",
            "description": "The key of the asset you wish to update.\n* Currently, only custom properties are supported.\n* For custom properties, add the `custom.` prefix. (e.g. `custom.MY_CUSTOM_PROPERTY`).\n* To see the available custom properties, please refer to the [List all device custom property configurations](/reference/get_settings_device_custom_properties_get#/) endpoint.",
            "examples": [
              "custom.MY_CUSTOM_PROPERTY"
            ]
          },
          "value": {
            "title": "Value"
          }
        },
        "type": "object",
        "required": [
          "asset_id",
          "operation",
          "key"
        ],
        "title": "BulkItemSetRequest",
        "examples": [
          {
            "asset_id": 1,
            "key": "custom.Size",
            "operation": "SET",
            "value": "small"
          },
          {
            "asset_id": "1.2.3.4",
            "key": "custom.Size",
            "operation": "SET",
            "value": "small"
          },
          {
            "asset_id": "::ffff:1.2.3.4",
            "key": "custom.Size",
            "operation": "SET",
            "value": "small"
          },
          {
            "asset_id": "aa:bb:cc:dd:ee:ff",
            "key": "custom.Size",
            "operation": "SET",
            "value": "small"
          },
          {
            "asset_id": "ABCDEF",
            "key": "custom.Size",
            "operation": "SET",
            "value": "small"
          }
        ]
      },
      "BulkItemUnsetRequest": {
        "properties": {
          "asset_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "title": "Asset Id",
            "description": "The identifier that will be used to find the asset that needs to be updated.\n\nThe content type will vary according to the selected `asset_id_source` field (e.g. IP v4, Asset ID, etc.).\n\nGenerally speaking, all identifiers except Asset ID are provided by the customer's environment.",
            "examples": [
              "8.8.8.8",
              1234
            ]
          },
          "operation": {
            "type": "string",
            "const": "UNSET",
            "title": "Operation"
          },
          "key": {
            "type": "string",
            "title": "Key",
            "description": "The key of the asset you wish to update.\n* Currently, only custom properties are supported.\n* For custom properties, add the `custom.` prefix. (e.g. `custom.MY_CUSTOM_PROPERTY`).\n* To see the available custom properties, please refer to the [List all device custom property configurations](/reference/get_settings_device_custom_properties_get#/) endpoint.",
            "examples": [
              "custom.MY_CUSTOM_PROPERTY"
            ]
          }
        },
        "type": "object",
        "required": [
          "asset_id",
          "operation",
          "key"
        ],
        "title": "BulkItemUnsetRequest",
        "examples": [
          {
            "asset_id": 1,
            "key": "custom.Size",
            "operation": "UNSET"
          },
          {
            "asset_id": "1.2.3.4",
            "key": "custom.Size",
            "operation": "UNSET"
          },
          {
            "asset_id": "::ffff:1.2.3.4",
            "key": "custom.Size",
            "operation": "UNSET"
          },
          {
            "asset_id": "aa:bb:cc:dd:ee:ff",
            "key": "custom.Size",
            "operation": "UNSET"
          },
          {
            "asset_id": "ABCDEF",
            "key": "custom.Size",
            "operation": "UNSET"
          }
        ]
      },
      "BulkRequest": {
        "properties": {
          "asset_type": {
            "$ref": "#/components/schemas/AssetType",
            "default": "DEVICE"
          },
          "asset_id_source": {
            "$ref": "#/components/schemas/AssetIdSource",
            "description": "Some assets may have multiple unique identifiers.\n\nFor example, a device can have an Asset ID, a MAC Address, an IPv4, etc.\n\nThis field determines which field will be used to find the asset.",
            "default": "ASSET_ID"
          },
          "items": {
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/BulkItemSetRequest"
                },
                {
                  "$ref": "#/components/schemas/BulkItemUnsetRequest"
                }
              ],
              "discriminator": {
                "propertyName": "operation",
                "mapping": {
                  "SET": "#/components/schemas/BulkItemSetRequest",
                  "UNSET": "#/components/schemas/BulkItemUnsetRequest"
                }
              }
            },
            "type": "array",
            "maxItems": 1000,
            "title": "Items"
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "BulkRequest",
        "examples": [
          {
            "items": [
              {
                "asset_id": 1,
                "key": "custom.Size",
                "operation": "SET",
                "value": "small"
              },
              {
                "asset_id": 2,
                "key": "custom.Size",
                "operation": "UNSET"
              }
            ]
          },
          {
            "asset_id_source": "ASSET_ID",
            "asset_type": "DEVICE",
            "items": [
              {
                "asset_id": 1,
                "key": "custom.Size",
                "operation": "SET",
                "value": "small"
              },
              {
                "asset_id": 2,
                "key": "custom.Size",
                "operation": "UNSET"
              }
            ]
          },
          {
            "asset_id_source": "IPV4_ADDRESS",
            "asset_type": "DEVICE",
            "items": [
              {
                "asset_id": "1.2.3.4",
                "key": "custom.Size",
                "operation": "SET",
                "value": "small"
              }
            ]
          },
          {
            "asset_id_source": "IPV6_ADDRESS",
            "asset_type": "DEVICE",
            "items": [
              {
                "asset_id": "::ffff:1.2.3.4",
                "key": "custom.Size",
                "operation": "SET",
                "value": "small"
              }
            ]
          },
          {
            "asset_id_source": "MAC_ADDRESS",
            "asset_type": "DEVICE",
            "items": [
              {
                "asset_id": "aa:bb:cc:dd:ee:ff",
                "key": "custom.Size",
                "operation": "SET",
                "value": "small"
              }
            ]
          },
          {
            "asset_id_source": "SERIAL_NUMBER",
            "asset_type": "DEVICE",
            "items": [
              {
                "asset_id": "ABCDEF",
                "key": "custom.Size",
                "operation": "SET",
                "value": "small"
              }
            ]
          }
        ]
      },
      "BulkResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/BulkItemResponse"
            },
            "type": "array",
            "title": "Items"
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "BulkResponse",
        "examples": [
          {
            "items": [
              {
                "status": 200
              },
              {
                "error": "Bad Request",
                "status": 400
              }
            ]
          }
        ]
      },
      "CollectorImageDetails": {
        "properties": {
          "image_password": {
            "type": "string",
            "title": "Image Password",
            "description": "The password for the OS that is encapsulated by the image."
          },
          "image_type": {
            "$ref": "#/components/schemas/ImageType",
            "description": "The type of the image"
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "The temporary, presigned URL from which the OS image file can be downloaded."
          },
          "url_expiration_date": {
            "type": "string",
            "format": "date-time",
            "title": "Url Expiration Date",
            "description": "Expiration date of the URL."
          }
        },
        "type": "object",
        "required": [
          "image_password",
          "image_type",
          "url",
          "url_expiration_date"
        ],
        "title": "CollectorImageDetails",
        "description": "Detailed information required to securely download a collector's image."
      },
      "Config": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 40,
            "pattern": "^[\\w_]*$",
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 250
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "type": {
            "type": "string",
            "enum": [
              "boolean",
              "enum",
              "externalLink",
              "integer",
              "string",
              "timestamp"
            ],
            "title": "Type"
          },
          "allowed_values": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Allowed Values"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "title": "Config",
        "examples": [
          {
            "allowed_values": [
              "Small",
              "Medium",
              "Large"
            ],
            "description": "The size of the device.",
            "name": "Size",
            "type": "enum"
          },
          {
            "description": "The year the device was built.",
            "name": "BuildYear",
            "type": "integer"
          }
        ]
      },
      "CustomPropertyField-Input": {
        "type": "string",
        "pattern": "^custom\\..+$",
        "title": "CustomPropertyField",
        "description": "This model represents a device custom property field.\nIt makes sure that it has a prefix \"custom.\""
      },
      "CustomPropertyField-Output": {
        "type": "string"
      },
      "DataExportEntity": {
        "type": "string",
        "enum": [
          "applications",
          "risk-factors",
          "vulnerabilities"
        ],
        "title": "DataExportEntity"
      },
      "DataExportGetResponse": {
        "properties": {
          "urls": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Urls"
          },
          "urls_creation_time": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Urls Creation Time"
          },
          "enabled": {
            "type": "boolean",
            "title": "Enabled"
          },
          "file_format": {
            "type": "string",
            "const": "parquet",
            "title": "File Format",
            "default": "parquet"
          }
        },
        "type": "object",
        "required": [
          "urls",
          "urls_creation_time",
          "enabled"
        ],
        "title": "DataExportGetResponse",
        "examples": [
          {
            "enabled": true,
            "file_format": "parquet",
            "urls": [
              "https://path/to/file1",
              "https://path/to/file2"
            ],
            "urls_creation_time": "2025-09-08T00:00:00"
          }
        ]
      },
      "DataExportPatchRequest": {
        "properties": {
          "enabled": {
            "type": "boolean",
            "title": "Enabled"
          }
        },
        "type": "object",
        "required": [
          "enabled"
        ],
        "title": "DataExportPatchRequest",
        "examples": [
          {
            "enabled": true
          },
          {
            "enabled": false
          }
        ]
      },
      "DataExportPatchResponse": {
        "properties": {
          "urls": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Urls"
          },
          "urls_creation_time": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Urls Creation Time"
          },
          "enabled": {
            "type": "boolean",
            "title": "Enabled"
          },
          "file_format": {
            "type": "string",
            "const": "parquet",
            "title": "File Format",
            "default": "parquet"
          }
        },
        "type": "object",
        "required": [
          "urls",
          "urls_creation_time",
          "enabled"
        ],
        "title": "DataExportPatchResponse",
        "examples": [
          {
            "enabled": true,
            "file_format": "parquet",
            "urls": [
              "https://path/to/file1",
              "https://path/to/file2"
            ],
            "urls_creation_time": "2025-09-08T00:00:00"
          }
        ]
      },
      "DataSource": {
        "type": "string",
        "enum": [
          "API",
          "AWS",
          "AWS Greengrass",
          "Absolute",
          "Acronis Cyber Protect Cloud",
          "Action1",
          "Active Directory",
          "Airgap",
          "Airlock",
          "Alaris",
          "Alibaba Cloud",
          "Apple Business Manager",
          "Arista CloudVision",
          "Armis Smart Scanner",
          "Armis' raw data",
          "Aruba Central",
          "Aruba ClearPass",
          "Aruba Instant",
          "Aruba Mobility Conductor",
          "Aruba New Central",
          "Aruba WLC",
          "Automox",
          "Axonius",
          "BMC CMDB",
          "BMC Discovery",
          "Baramundi",
          "BeyondTrust Privileged Remote Access",
          "BigFix",
          "Bitdefender",
          "BlueCat DDI",
          "CSV",
          "Cambium cnMaestro",
          "Carbon Black App Control",
          "Carbon Black Defense",
          "Cato Networks",
          "Centrix",
          "Centrix\u2122 On-Prem",
          "Check Point Harmony Endpoint",
          "Check Point IoT Controller",
          "CheckMK",
          "Chef",
          "Cisco ASA",
          "Cisco Catalyst (3850/9800) WLC",
          "Cisco CleanAir",
          "Cisco Cyber Vision",
          "Cisco DNA Center",
          "Cisco Firepower Management Center",
          "Cisco ISE",
          "Cisco ISE Discovery",
          "Cisco ISE REST API",
          "Cisco Meraki",
          "Cisco Meraki MDM",
          "Cisco NDI",
          "Cisco Secure Access",
          "Cisco Secure Endpoint",
          "Cisco Secure Workload",
          "Cisco ThousandEyes",
          "Cisco UCS",
          "Cisco Umbrella",
          "Cisco WLC",
          "Cisco Webex Control Hub",
          "Claroty CTD",
          "CloudGuard Dome9",
          "Code42 Incydr",
          "ConnectWise Automate",
          "Cortex XDR",
          "Cradlepoint NetCloud",
          "Cribl",
          "CrowdStrike",
          "CrowdStrike RTR",
          "Custom File",
          "CyberArk EPM",
          "CyberArk Pull",
          "CyberArk Pull On Prem",
          "Cybereason EDR",
          "CylancePROTECT",
          "Cynet XDR",
          "DICOM PACS",
          "Darktrace",
          "Datadog",
          "Delinea Privilege Manager",
          "Device42",
          "Dragos",
          "Dropbox",
          "Duo Beyond",
          "Dynatrace",
          "ESET Protect",
          "EcoStruxure Building",
          "EfficientIP SOLIDserver DDI",
          "Elastic Defend",
          "Engineering Workstation - DeltaV",
          "Engineering Workstation - Rockwell",
          "Engineering Workstation - Siemens",
          "Eracent ITMC",
          "Eseye",
          "ExtraHop RevealX 360",
          "ExtremeCloud IQ",
          "ExtremeCloud IQ Site Engine",
          "ExtremeWireless WiNG",
          "F5 BIG-IP iControl",
          "FSI CMMS",
          "FactoryTalk AssetCentre",
          "FactoryTalk AssetCentre DB",
          "Filewave MDM",
          "FireEye Endpoint Protection",
          "Fleet DM",
          "Flexera One",
          "Flexera Spider",
          "Forcepoint DLP",
          "Forescout Enforcement",
          "Forescout Pull",
          "Forescout Syslog API",
          "FortiClient EMS",
          "FortiEDR",
          "Fortinet FortiAnalyzer Log Forwarding",
          "Fortinet FortiGate",
          "Fortinet FortiGate Pull",
          "Fortinet FortiManager Pull",
          "Fortinet FortiNAC",
          "Freshservice",
          "GLPI CMDB",
          "Google Chrome OS Device Management",
          "Google Cloud Platform",
          "Guardicore",
          "Gytpol",
          "HCL Bigfix Inventory",
          "HP WLC",
          "Halo ITSM",
          "IBM Cloud Services",
          "IBM MaaS360",
          "IBM Maximo Manage",
          "IGEL Universal Management Suite",
          "ISG AgileSec",
          "Ignition",
          "Illumio",
          "Incident IQ",
          "Infinipoint",
          "Infoblox BloxOne DDI (Cloud)",
          "Infoblox DDI On Prem v2",
          "Infoblox DDI On-Prem",
          "Infoblox DDI Syslog",
          "Infoblox NetMRI",
          "Island Enterprise",
          "Ivanti EPMM",
          "Ivanti Endpoint Manager",
          "Ivanti Neurons for ITAM",
          "Ivanti Neurons for MDM",
          "Ivanti Neurons for UEM",
          "Jamf",
          "Jamf Pro",
          "Jira Assets Platform",
          "JumpCloud",
          "Juniper Mist",
          "Juniper Mist Webhooks",
          "Kandji",
          "Kaseya VSA",
          "Keycloak",
          "Knowledge Base",
          "Lansweeper",
          "Lansweeper on-prem",
          "Lmntrix",
          "LogMeIn Resolve",
          "MBAM (BitLocker)",
          "MQTT Sparkplug B",
          "Malwarebytes",
          "ManageEngine ADAudit Plus",
          "ManageEngine Endpoint Central",
          "ManageEngine OpManager",
          "Mapper Device Enrichment",
          "Matrix42 Unified Endpoint Management",
          "McAfee ePO",
          "Medusa By SoftPro",
          "Microsoft Azure",
          "Microsoft Azure Active Directory",
          "Microsoft DHCP",
          "Microsoft Defender for Cloud",
          "Microsoft Defender for Endpoint",
          "Microsoft Defender for IoT",
          "Microsoft Hyper-V",
          "Microsoft Intune",
          "Microsoft System Center Operations Manager",
          "Microsoft System Center Virtual Machine Manager",
          "Microsoft WSUS",
          "Mosyle",
          "NVIDIA DOCA Argus",
          "Nautobot",
          "NetBox",
          "NetBrain",
          "Netflow",
          "Netskope",
          "Network Mapper",
          "NinjaOne",
          "Nozomi Guardian and CMC",
          "Nozomi Vantage",
          "Nutanix Prism",
          "Nuvolo",
          "OCS Inventory",
          "OTbase",
          "OVHcloud",
          "Okta",
          "OneLogin",
          "OpenStack",
          "Oracle Cloud Infrastructure",
          "PANW Prisma",
          "PDQ Connect",
          "PDQ Inventory",
          "Packet Capture Upload",
          "Palo Alto Networks Enrichment",
          "Palo Alto Networks GlobalProtect",
          "Palo Alto Networks Panorama",
          "Palo Alto Networks Prisma CSPM",
          "Palo Alto Networks Syslog",
          "Phosphorus",
          "Policy",
          "Portnox CORE",
          "Proxmox Virtual Environment (VE)",
          "Puppet",
          "Qualys",
          "Quest KACE",
          "RSA Archer",
          "Radia",
          "Rapid7 InsightVM",
          "Rapid7 InsightVM Cloud",
          "Rapid7 Nexpose Data Warehouse",
          "Red Hat OpenShift",
          "Red Hat Satellite",
          "Remote Discovery File Uploader",
          "Remote Switch",
          "Rigado",
          "Riverbed AppResponse",
          "Ruckus Virtual SmartZone",
          "Rudder",
          "SCCM",
          "SOTI MobiControl",
          "SPAN/TAP",
          "SUSE Manager",
          "SailPoint IdentityIQ",
          "SaltStack",
          "Saviynt",
          "SecuriThings",
          "Security Scorecard",
          "SentinelOne",
          "ServiceDesk Plus",
          "ServiceNow",
          "Siemens Industrial Asset Hub",
          "Sinec NMS",
          "Smart Active Querying",
          "Snow Software Asset Management",
          "Snyk",
          "SolarWinds Orion",
          "SolarWinds Service Desk",
          "SolarWinds Web Helpdesk",
          "Sophos Endpoint Protection",
          "Splunk",
          "Symantec Asset Management",
          "Symantec Client Management Suite",
          "Symantec Endpoint Protection",
          "Symantec Endpoint Security",
          "TOPdesk Enterprise Service Management",
          "Taegis XDR",
          "Tanium Asset",
          "Tanium Comply",
          "Tanium Discover",
          "Tanium Interact",
          "Tanium Interact MA",
          "Team Dynamix ITAM",
          "Tenable Nessus",
          "Tenable OT",
          "Tenable.io",
          "Tenable.sc",
          "ThinManager",
          "Traffic Inspection",
          "Trellix ePO SaaS",
          "Trend Micro Apex One",
          "Trend Micro Cloud One",
          "Trend Micro Deep Security",
          "Trend Micro Vision One",
          "TxOne ElementOne",
          "Ubiquiti UniFi Controller",
          "Unknown",
          "User",
          "VA Optimus",
          "Vectra",
          "Veeam Backup",
          "Viakoo",
          "Wazuh",
          "WhatsUp Gold",
          "Windows Autopilot",
          "Windows Inventory Scanner",
          "Wiz",
          "Workday",
          "Workspace ONE",
          "Zabbix",
          "Zimperium",
          "Zscaler",
          "Zscaler Deception",
          "eMASS",
          "orcharhino",
          "runZero",
          "vSphere vCenter"
        ],
        "title": "DataSource"
      },
      "FieldDescription": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AssetField"
              },
              {
                "$ref": "#/components/schemas/CustomPropertyField-Output"
              },
              {
                "$ref": "#/components/schemas/IntegrationPropertyField-Output"
              }
            ],
            "title": "Name"
          },
          "type": {
            "$ref": "#/components/schemas/FieldType",
            "default": "string"
          },
          "is_list": {
            "type": "boolean",
            "title": "Is List",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "FieldDescription",
        "examples": [
          {
            "is_list": true,
            "name": "boundaries",
            "type": "object"
          },
          {
            "is_list": false,
            "name": "brand",
            "type": "string"
          },
          {
            "is_list": false,
            "name": "device_id",
            "type": "integer"
          },
          {
            "is_list": false,
            "name": "first_seen",
            "type": "timestamp"
          },
          {
            "is_list": true,
            "name": "ipv4_addresses",
            "type": "ipv4"
          },
          {
            "is_list": false,
            "name": "custom.custom1",
            "type": "string"
          },
          {
            "is_list": false,
            "name": "integration.gcp_image",
            "type": "string"
          }
        ]
      },
      "FieldType": {
        "type": "string",
        "enum": [
          "array",
          "boolean",
          "entityLink",
          "enum",
          "externalLink",
          "file",
          "float",
          "integer",
          "ipv4",
          "ipv6",
          "macAddress",
          "object",
          "publicFile",
          "string",
          "timestamp"
        ],
        "title": "FieldType"
      },
      "FilterByAssetId": {
        "properties": {
          "filter_criteria": {
            "type": "string",
            "const": "ASSET_ID",
            "title": "Filter Criteria"
          },
          "asset_id_source": {
            "$ref": "#/components/schemas/AssetIdSource",
            "description": "Some assets may have multiple unique identifiers.\n\nFor example, a device can have an Asset ID, a MAC Address, an IPv4, etc.\n\nThis field determines which field will be used to find the asset.",
            "default": "ASSET_ID"
          },
          "asset_ids": {
            "items": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            },
            "type": "array",
            "maxItems": 1000,
            "minItems": 1,
            "title": "Asset Ids"
          }
        },
        "type": "object",
        "required": [
          "filter_criteria",
          "asset_ids"
        ],
        "title": "FilterByAssetId",
        "examples": [
          {
            "asset_ids": [
              1
            ],
            "filter_criteria": "ASSET_ID"
          },
          {
            "asset_id_source": "ASSET_ID",
            "asset_ids": [
              1
            ],
            "filter_criteria": "ASSET_ID"
          },
          {
            "asset_id_source": "IPV4_ADDRESS",
            "asset_ids": [
              "1.2.3.4"
            ],
            "filter_criteria": "ASSET_ID"
          },
          {
            "asset_id_source": "IPV6_ADDRESS",
            "asset_ids": [
              "::ffff:1.2.3.4"
            ],
            "filter_criteria": "ASSET_ID"
          },
          {
            "asset_id_source": "MAC_ADDRESS",
            "asset_ids": [
              "aa:bb:cc:dd:ee:ff"
            ],
            "filter_criteria": "ASSET_ID"
          },
          {
            "asset_id_source": "SERIAL_NUMBER",
            "asset_ids": [
              "ABCDEF"
            ],
            "filter_criteria": "ASSET_ID"
          }
        ]
      },
      "FilterByDataSource": {
        "properties": {
          "filter_criteria": {
            "type": "string",
            "const": "DATA_SOURCE",
            "title": "Filter Criteria"
          },
          "data_sources": {
            "items": {
              "$ref": "#/components/schemas/DataSource"
            },
            "type": "array",
            "minItems": 1,
            "title": "Data Sources",
            "description": "List of data sources to filter on"
          },
          "after": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "After",
            "description": "Cursor for pagination"
          },
          "limit": {
            "type": "integer",
            "maximum": 1000,
            "minimum": 1,
            "title": "Limit",
            "description": "Number of items to return",
            "default": 10
          }
        },
        "type": "object",
        "required": [
          "filter_criteria",
          "data_sources"
        ],
        "title": "FilterByDataSource",
        "examples": [
          {
            "data_sources": [
              "Smart Active Querying"
            ],
            "filter_criteria": "DATA_SOURCE"
          },
          {
            "after": "MzA4NDM4NjEwNQ==",
            "data_sources": [
              "Smart Active Querying"
            ],
            "filter_criteria": "DATA_SOURCE",
            "limit": 50
          }
        ]
      },
      "FilterByLastSeen": {
        "properties": {
          "filter_criteria": {
            "type": "string",
            "const": "LAST_SEEN",
            "title": "Filter Criteria"
          },
          "last_seen_ge": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Seen Ge",
            "description": "Last seen after (or exactly on) this date (in UTC)."
          },
          "last_seen_seconds": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Seen Seconds",
            "description": "Last seen in the last X seconds."
          },
          "after": {
            "type": "integer",
            "minimum": 0,
            "title": "After",
            "default": 0
          },
          "limit": {
            "type": "integer",
            "maximum": 1000,
            "minimum": 1,
            "title": "Limit",
            "default": 10
          }
        },
        "type": "object",
        "required": [
          "filter_criteria"
        ],
        "title": "FilterByLastSeen",
        "examples": [
          {
            "filter_criteria": "LAST_SEEN",
            "last_seen_ge": "2025-09-01"
          },
          {
            "filter_criteria": "LAST_SEEN",
            "last_seen_seconds": 3600
          },
          {
            "after": 250,
            "filter_criteria": "LAST_SEEN",
            "last_seen_ge": "2025-09-01",
            "limit": 50
          }
        ]
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ImageType": {
        "type": "string",
        "enum": [
          "DARWIN_AMD64_BROKER",
          "DARWIN_ARM64_BROKER",
          "DEB",
          "LINUX_AMD64_BROKER",
          "LINUX_ARM64_BROKER",
          "OVA",
          "QCOW2",
          "RPM",
          "VHD",
          "VHDX",
          "WINDOWS_BROKER"
        ],
        "title": "ImageType"
      },
      "IntegrationPropertyField-Input": {
        "type": "string",
        "pattern": "^integration\\..+$",
        "title": "IntegrationPropertyField",
        "description": "This model represents a device integration property field.\nIt makes sure that it has a prefix \"integration.<something>.\""
      },
      "IntegrationPropertyField-Output": {
        "type": "string"
      },
      "OrRule": {
        "properties": {
          "and": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "object",
                  "description": "Another AsqRule"
                }
              ]
            },
            "type": "array",
            "title": "And"
          }
        },
        "type": "object",
        "required": [
          "or"
        ],
        "title": "OrRule"
      },
      "PartialConfigRequest": {
        "properties": {
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 250
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "allowed_values": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Allowed Values"
          }
        },
        "type": "object",
        "title": "PartialConfigRequest",
        "examples": [
          {
            "description": "The year the device was first seen."
          },
          {
            "allowed_values": [
              "s",
              "m",
              "l"
            ]
          }
        ]
      },
      "PersistentConfig": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 40,
            "pattern": "^[\\w_]*$",
            "title": "Name"
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 250
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "type": {
            "type": "string",
            "enum": [
              "boolean",
              "enum",
              "externalLink",
              "integer",
              "string",
              "timestamp"
            ],
            "title": "Type"
          },
          "allowed_values": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Allowed Values"
          },
          "id": {
            "type": "integer",
            "title": "Id"
          },
          "created_by": {
            "type": "string",
            "maxLength": 50,
            "title": "Created By"
          },
          "creation_time": {
            "type": "string",
            "format": "date-time",
            "title": "Creation Time"
          }
        },
        "type": "object",
        "required": [
          "name",
          "type",
          "id",
          "created_by",
          "creation_time"
        ],
        "title": "PersistentConfig",
        "examples": [
          {
            "allowed_values": [
              "Small",
              "Medium",
              "Large"
            ],
            "created_by": "user@acme.com",
            "creation_time": "2025-06-16T00:00:00Z",
            "description": "The size of the device.",
            "id": 1,
            "name": "Size",
            "type": "enum"
          }
        ]
      },
      "PersistentConfigItems": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/PersistentConfig"
            },
            "type": "array",
            "title": "Items"
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "PersistentConfigItems",
        "examples": [
          {
            "items": [
              {
                "allowed_values": [
                  "Small",
                  "Medium",
                  "Large"
                ],
                "created_by": "user@acme.com",
                "creation_time": "2025-06-16T00:00:00Z",
                "description": "The size of the device.",
                "id": 1,
                "name": "Size",
                "type": "enum"
              },
              {
                "created_by": "user@acme.com",
                "creation_time": "2025-06-16T00:00:00Z",
                "description": "The year the device was built.",
                "id": 2,
                "name": "BuildYear",
                "type": "integer"
              }
            ]
          }
        ]
      },
      "PersistentSite": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "location": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Location",
            "description": "The name of the location of the site, such as an address. When this field is set, the `lat` and `lng` are automatically derived from it.",
            "examples": [
              "548 Market Street Suite 97439 San Francisco, CA 94104-5401"
            ]
          },
          "parent_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parent Id"
          },
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "asq_rule": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AsqRule"
              },
              {
                "type": "null"
              }
            ],
            "description": "Devices matching this ASQ rule will be associated with this site.",
            "examples": [
              {
                "and": [
                  "category:Computers"
                ]
              }
            ]
          },
          "asq_rule_description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Asq Rule Description"
          },
          "network_equipment_device_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Network Equipment Device Ids",
            "description": "Devices that are detected through these network equipment devices will be associated with this site.",
            "examples": [
              [
                1,
                2,
                3
              ]
            ]
          },
          "integration_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Integration Ids",
            "description": "Devices that are detected through these integration will be associated with this site.",
            "examples": [
              [
                4,
                5,
                6
              ]
            ]
          },
          "id": {
            "type": "integer",
            "title": "Id"
          },
          "lat": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latitude",
            "description": "The latitude coordinate of the physical location of the site on earth. This field is read-only and is automatically derived from the `location` field.",
            "examples": [
              37.79
            ]
          },
          "lng": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Longitude",
            "description": "The longitude coordinate of the physical location of the site on earth. This field is read-only and is automatically derived from the `location` field.",
            "examples": [
              -122.4
            ]
          }
        },
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "title": "PersistentSite",
        "examples": [
          {
            "asq_rule": {
              "and": [
                "category:Computers"
              ]
            },
            "id": 1,
            "integration_ids": [
              4,
              5,
              6
            ],
            "lat": 37.79,
            "lng": -122.4,
            "location": "548 Market Street Suite 97439 San Francisco, CA 94104-5401",
            "name": "San Francisco HQ",
            "network_equipment_device_ids": [
              1,
              2,
              3
            ]
          }
        ]
      },
      "PersistentSiteItems": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/PersistentSite"
            },
            "type": "array",
            "title": "Items"
          },
          "next": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next"
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "PersistentSiteItems",
        "examples": [
          {
            "items": [
              {
                "asq_rule": {
                  "and": [
                    "category:Computers"
                  ]
                },
                "id": 1,
                "integration_ids": [
                  4,
                  5,
                  6
                ],
                "lat": 37.79,
                "lng": -122.4,
                "location": "548 Market Street Suite 97439 San Francisco, CA 94104-5401",
                "name": "San Francisco HQ",
                "network_equipment_device_ids": [
                  1,
                  2,
                  3
                ]
              }
            ],
            "next": "F3xsEf"
          }
        ]
      },
      "SearchAssetPropertiesRequest": {
        "properties": {
          "asset_type": {
            "$ref": "#/components/schemas/AssetType",
            "default": "DEVICE"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FilterByDataSource"
              }
            ],
            "title": "Filter",
            "discriminator": {
              "propertyName": "filter_criteria",
              "mapping": {
                "DATA_SOURCE": "#/components/schemas/FilterByDataSource"
              }
            }
          }
        },
        "type": "object",
        "required": [
          "filter"
        ],
        "title": "SearchAssetPropertiesRequest",
        "examples": [
          {
            "asset_type": "DEVICE",
            "filter": {
              "data_sources": [
                "Smart Active Querying"
              ],
              "filter_criteria": "DATA_SOURCE"
            }
          },
          {
            "asset_type": "DEVICE",
            "filter": {
              "after": "MzA4NDM4NjEwNQ==",
              "data_sources": [
                "Smart Active Querying"
              ],
              "filter_criteria": "DATA_SOURCE",
              "limit": 50
            }
          }
        ]
      },
      "SearchAssetPropertiesResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/AssetPropertyItem"
            },
            "type": "array",
            "title": "Items"
          },
          "next": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next"
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "SearchAssetPropertiesResponse",
        "examples": [
          {
            "items": [
              {
                "asset_id": 123456,
                "data_source": "Smart Active Querying",
                "key": "MODEL",
                "sub_source": "TCP Banner Grabbing",
                "value": "XCM20R"
              }
            ],
            "next": "MzA4NDM4NjEwNQ=="
          }
        ]
      },
      "SearchAssetsRequest": {
        "properties": {
          "asset_type": {
            "$ref": "#/components/schemas/AssetType",
            "default": "DEVICE"
          },
          "fields": {
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/AssetField"
                },
                {
                  "$ref": "#/components/schemas/CustomPropertyField-Input"
                },
                {
                  "$ref": "#/components/schemas/IntegrationPropertyField-Input"
                }
              ]
            },
            "type": "array",
            "title": "Fields"
          },
          "filter": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FilterByAssetId"
              },
              {
                "$ref": "#/components/schemas/FilterByLastSeen"
              }
            ],
            "title": "Filter",
            "discriminator": {
              "propertyName": "filter_criteria",
              "mapping": {
                "ASSET_ID": "#/components/schemas/FilterByAssetId",
                "LAST_SEEN": "#/components/schemas/FilterByLastSeen"
              }
            }
          }
        },
        "type": "object",
        "required": [
          "fields",
          "filter"
        ],
        "title": "SearchAssetsRequest",
        "examples": [
          {
            "asset_type": "DEVICE",
            "fields": [
              "device_id",
              "brand",
              "tags",
              "custom.custom1"
            ],
            "filter": {
              "asset_ids": [
                1
              ],
              "filter_criteria": "ASSET_ID"
            }
          },
          {
            "asset_type": "DEVICE",
            "fields": [
              "device_id",
              "brand",
              "tags",
              "custom.custom1"
            ],
            "filter": {
              "filter_criteria": "LAST_SEEN",
              "last_seen_ge": "2025-09-01"
            }
          }
        ]
      },
      "SearchAssetsResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/AssetResponse"
            },
            "type": "array",
            "title": "Items"
          },
          "next": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next"
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "SearchAssetsResponse",
        "examples": [
          {
            "items": [
              {
                "asset_id": 1,
                "fields": {
                  "brand": "Apple",
                  "custom.custom1": "My Custom Value",
                  "device_id": 1,
                  "tags": [
                    "Tag1",
                    "Tag2",
                    "Tag3"
                  ]
                }
              },
              {
                "asset_id": 2,
                "fields": {
                  "brand": "Samsung",
                  "custom.custom1": "My Other Custom Value",
                  "device_id": 3,
                  "tags": [
                    "Tag4",
                    "Tag5",
                    "Tag6"
                  ]
                }
              }
            ]
          }
        ]
      },
      "SearchFieldsResponse": {
        "properties": {
          "items": {
            "items": {
              "$ref": "#/components/schemas/FieldDescription"
            },
            "type": "array",
            "title": "Items"
          }
        },
        "type": "object",
        "required": [
          "items"
        ],
        "title": "SearchFieldsResponse",
        "examples": [
          {
            "items": [
              {
                "is_list": true,
                "name": "boundaries",
                "type": "object"
              },
              {
                "is_list": false,
                "name": "brand",
                "type": "string"
              },
              {
                "is_list": false,
                "name": "category",
                "type": "string"
              },
              {
                "is_list": false,
                "name": "device_id",
                "type": "integer"
              },
              {
                "is_list": false,
                "name": "display",
                "type": "string"
              },
              {
                "is_list": false,
                "name": "first_seen",
                "type": "timestamp"
              },
              {
                "is_list": true,
                "name": "ipv4_addresses",
                "type": "ipv4"
              },
              {
                "is_list": true,
                "name": "ipv6_addresses",
                "type": "ipv6"
              },
              {
                "is_list": false,
                "name": "last_seen",
                "type": "timestamp"
              },
              {
                "is_list": true,
                "name": "mac_addresses",
                "type": "macAddress"
              },
              {
                "is_list": false,
                "name": "model",
                "type": "string"
              },
              {
                "is_list": true,
                "name": "names",
                "type": "string"
              },
              {
                "is_list": true,
                "name": "network_interfaces",
                "type": "object"
              },
              {
                "is_list": false,
                "name": "os_name",
                "type": "string"
              },
              {
                "is_list": false,
                "name": "os_version",
                "type": "string"
              },
              {
                "is_list": false,
                "name": "purdue_level",
                "type": "float"
              },
              {
                "is_list": false,
                "name": "risk_level",
                "type": "integer"
              },
              {
                "is_list": true,
                "name": "serial_numbers",
                "type": "string"
              },
              {
                "is_list": false,
                "name": "site",
                "type": "object"
              },
              {
                "is_list": true,
                "name": "tags",
                "type": "string"
              },
              {
                "is_list": false,
                "name": "type",
                "type": "string"
              },
              {
                "is_list": false,
                "name": "visibility",
                "type": "string"
              },
              {
                "is_list": false,
                "name": "custom.custom1",
                "type": "string"
              },
              {
                "is_list": false,
                "name": "integration.gcp_image",
                "type": "string"
              }
            ]
          }
        ]
      },
      "SiteCreateRequest": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "location": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Location",
            "description": "The name of the location of the site, such as an address. When this field is set, the `lat` and `lng` are automatically derived from it.",
            "examples": [
              "548 Market Street Suite 97439 San Francisco, CA 94104-5401"
            ]
          },
          "parent_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parent Id"
          },
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "asq_rule": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AsqRule"
              },
              {
                "type": "null"
              }
            ],
            "description": "Devices matching this ASQ rule will be associated with this site.",
            "examples": [
              {
                "and": [
                  "category:Computers"
                ]
              }
            ]
          },
          "asq_rule_description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Asq Rule Description"
          },
          "network_equipment_device_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Network Equipment Device Ids",
            "description": "Devices that are detected through these network equipment devices will be associated with this site.",
            "examples": [
              [
                1,
                2,
                3
              ]
            ]
          },
          "integration_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Integration Ids",
            "description": "Devices that are detected through these integration will be associated with this site.",
            "examples": [
              [
                4,
                5,
                6
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "SiteCreateRequest",
        "examples": [
          {
            "asq_rule": {
              "and": [
                "category:Computers"
              ]
            },
            "integration_ids": [
              4,
              5,
              6
            ],
            "location": "548 Market Street Suite 97439 San Francisco, CA 94104-5401",
            "name": "San Francisco HQ",
            "network_equipment_device_ids": [
              1,
              2,
              3
            ]
          }
        ]
      },
      "SiteUpdateRequest": {
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Site name",
            "examples": [
              "San Francisco HQ"
            ]
          },
          "location": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Location",
            "description": "The name of the location of the site, such as an address. When this field is set, the `lat` and `lng` are automatically derived from it.",
            "examples": [
              "548 Market Street Suite 97439 San Francisco, CA 94104-5401"
            ]
          },
          "parent_id": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parent Id"
          },
          "tier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tier"
          },
          "asq_rule": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AsqRule"
              },
              {
                "type": "null"
              }
            ],
            "description": "Devices matching this ASQ rule will be associated with this site.",
            "examples": [
              {
                "and": [
                  "category:Computers"
                ]
              }
            ]
          },
          "asq_rule_description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Asq Rule Description"
          },
          "network_equipment_device_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Network Equipment Device Ids",
            "description": "Devices that are detected through these network equipment devices will be associated with this site.",
            "examples": [
              [
                1,
                2,
                3
              ]
            ]
          },
          "integration_ids": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Integration Ids",
            "description": "Devices that are detected through these integration will be associated with this site.",
            "examples": [
              [
                4,
                5,
                6
              ]
            ]
          }
        },
        "type": "object",
        "title": "SiteUpdateRequest",
        "examples": [
          {
            "asq_rule": {
              "and": [
                "category:Computers"
              ]
            },
            "integration_ids": [
              4,
              5,
              6
            ],
            "location": "548 Market Street Suite 97439 San Francisco, CA 94104-5401",
            "name": "San Francisco HQ",
            "network_equipment_device_ids": [
              1,
              2,
              3
            ]
          }
        ]
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "scheme": "bearer"
      },
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Armis-Client-Name"
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Manage authentication of the API."
    }
  ]
}